body {
    font-family: Arial, Helvetica, sans-serif;
}

h1#site-title{
    color: #5d3784;
    font-family: sans-serif;
    font-size: 72px;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: .125em;
    text-align: center;
}

h1#article-title{
    font-size: 48px;
    text-align: left;
}

p {
    line-height: 1.25;
    margin-bottom: 1.25em;
}

figure {
    margin: 0;
    border: 1px solid #5d3784;
    padding: 12px;
    padding-bottom: 24px;
}

figure img {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}

figure.main-image {
    background: PaleVioletRed;
    border-color: MediumVioletRed;
    color: #ffffff
}

figure.section-image {
    margin-bottom: 32px;
    max-width: 320px;
}

figure.section-image.odd {
    float: right;
    margin-left: 20px;
    margin-bottom: 32px;
    max-width: 320px;
}

figure.section-image.even {
    float: left;
    margin-right: 20px;
    margin-bottom: 32px;
    max-width: 320px;
}

p img {
    float: right;
    max-width: 60%;
    margin-left: 20px;
    margin-bottom: 32px;
}

a{
    font-weight: bold;
    background-color: #5d3784;
    color: white;
}

nav ul {
    background-color: PaleVioletRed;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    border: 1px solid MediumVioletRed;
    overflow: hidden;
}

nav ul li {
    border-bottom: 1px solid MediumVioletRed;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 12px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    border-bottom: 3px solid #5d3754;
    padding-bottom: 9px;
}