body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #5d3784;
    font-family: sans-serif;
    font-size: 72px;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: .125em;
    text-align: center;
}

p {
    line-height: 1.25;
    margin-bottom: 1.25em;
}

figure {
    margin: 0;
    border: 1px solid #5d3784;
    padding: 12px;
    padding-bottom: 24px;
}

figure img {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}

p img {
    float: right;
    max-width: 60%;
    margin-left: 20px;
    margin-bottom: 32px;
}

a{
    font-weight: bold;
    background-color: #5d3784;
    color: white;
}

.site-nav {
    background-color: PaleVioletRed;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    border: 1px solid MediumVioletRed;
    overflow: hidden;
}

.site-nav .site-nav-item {
    border-bottom: 1px solid MediumVioletRed;
    padding: 5px;
}

.site-nav .site-nav-item:last-child {
    border-bottom: 0;
}

.site-nav .site-nav-item a {
    text-decoration: none;
    color: white;
    padding: 12px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

.site-nav .site-nav-item a:hover {
    text-decoration: underline;
    border-bottom: 3px solid #5d3754;
    padding-bottom: 9px;
}